.App {
  text-align: center;
}

.header-container {
  display: flex;
}
.header-image {
  width: 50%;
}
.bi-book-half {
  width: 40%;
  text-align: center;
  justify-content: center;
  margin: 1px auto;
}
.container {
  width: 70%;
  margin: 0 auto;
  display: block;
  min-height: 700px;
}

.container2 {
  width: 90%;
  margin: 0 auto;
  display: block;
  min-height: 500px;
  padding-bottom: 100px;
}
.jumbo-head {
  background-image: linear-gradient(
    to bottom,
    rgb(127, 192, 182),
    rgb(255, 255, 251)
  );
}

.form-div {
  width: 70%;
  margin: 1px auto;
}
.title {
  font-family: "Piedra", cursive;
  font-size: 600%;
}
.p-title {
  font-family: "Dancing Script", cursive;
  color: rgb(10, 10, 22);
  font-size: large;
}

.title-span1 {
  color: rgb(121, 29, 29);
}

.booktitle-h3 {
  text-align: center;
  margin: 32px 0;
  color: rgb(121, 29, 29);
  font-family: "sans-serif";
}

.td-icons {
  cursor: pointer;
  text-align: center;
}

.addbook-button {
  margin: 5px 0;
  display: flex;
  float: right;
}
/* tr:hover{
  background-color: rgb(121, 29, 29) !important;
} */

.modal-backdrop {
  background-color: rgb(128, 128, 128);
}

.FormBook {
  margin: 80px auto;
}
Form {
  width: 50%;
  margin: 0 auto;
}
.FormBookH3 {
  text-align: center;
}

.alert {
  padding: 12px;
  color: lightcyan;
  text-align: center;
  text-transform: capitalize;
  width: 90%;
  border-radius: 2px;
  margin: 15px auto;
}

.alert-success {
  background-color: rgb(209, 196, 8);
  color: antiquewhite;
}

.alert-error {
  background-color: red;
  color: black;
}

.jumbotron {
  position: relative;
  padding: 0 !important;
  text-align: center;
  margin-bottom: 0 !important;
}
.container-fluid {
  padding: 0 !important;
}
.col-xs-4 {
  background: rgba(157, 52, 99, 0.7);
}

nav {
  display: flex;
  padding: 20px auto 0 auto;
  width: 100%;
  /* color: bisque;
  background-color: rgb(9, 27, 21);
  text-transform: uppercase;
  text-decoration: none; */
}

.navH1 {
  width: 10%;
  float: left;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

ul {
  float: left;
  width: 90%;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

li {
  float: left;
  text-transform: uppercase;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 22px 20px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #333;
}

.formDiv {
  display: flex;
  width: 50%;
  margin: 120px auto;
  height: 250px;
}
.formtextfield {
  margin: 5px 0;
}

.container-fluid {
  height: 300px;
  padding: 300px;
}

.materialData {
  width: 100%;
  margin: 0 auto;
}
.footer {
  width: 100%;
  background-color: rgb(121, 29, 29);
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
}
.footerDiv1 {
  margin-top: 15px;
}

.footerIcon {
  padding: 8px;
  margin: 0 10px;
  size: 20px;
}

.MuiTableContainer-root {
  overflow-x: none;
}

.saveForm {
  margin: 10px auto;
  min-height: 450px;
}
.textCat {
  width: 60%;
  margin: 10px auto;
  /* display: inline-block; */
}

.textfie {
  margin: 20px auto;
}
.MuiFormControl-root.MuiTextField-root {
  margin: 10px auto;
  text-align: center;
}

.addButton {
  padding: 12px;
  color: #e0e0ec;
  margin: 30px auto;
  background-color: rgb(121, 29, 29);
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .navH1 {
    width: 30%;
  }

  .formDiv {
    display: flex;
    width: 100%;
    margin: 80px auto;
    height: 250px;
  }

  .title {
    font-family: "Piedra", cursive;
    font-size: 400%;
  }
  .p-title {
    font-family: "Dancing Script", cursive;
    color: rgb(10, 10, 22);
    font-size: small;
  }
  ul {
    float: left;
    width: 75%;
  }
  ul a {
    font-size: 10px;
  }
  li {
    float: left;
    text-transform: uppercase;
    font-size: 16px;
  }
  .container-fluid {
    height: 150px;
    padding: 300px;
  }
  .formtextfield {
    margin: 0 auto;
    width: 80%;
  }
  Form {
    width: 100%;
  }
  .MuiOutlinedInput-input {
    padding: 14px 120px !important;
    margin: 0 auto;
  }
  .MuiButton-outlined {
    width: 80% !important;
  }
  .btn-folder {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto !important;
  }
}
/* @media screen and (max-width: 700px) {
  .formDiv {
    display: flex;
    width: 100%;
    margin: 120px auto;
    height: 250px;
  }
} */
