.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-container {
  display: flex;
}
.header-image {
  width: 50%;
}
.bi-book-half {
  width: 40%;
  text-align: center;
  justify-content: center;
  margin: 1px auto;
}

.jumbo-head{
  background-image: linear-gradient(to bottom, rgb(127,192,182), rgb(255, 255, 251));
}

.form-div{
  width: 70%;
  margin: 1px auto;
}
.title{
  font-family: 'Piedra', cursive;
  font-size: 600%;
}
.p-title{
  font-family: 'Dancing Script', cursive;
  color: rgb(10, 10, 22);
}

.title-span1{
color: rgb(121, 29, 29);
}

.booktitle-h3{
  text-align: center;
  margin: 32px 0;
  color: rgb(121,29,29);
  font-family: 'sans-serif';
}

.td-icons{
  cursor: pointer;
  text-align: center;
}

.addbook-button{
  margin: 5px 0;
  display: flex;
  float: right;
}
/* tr:hover{
  background-color: rgb(121, 29, 29) !important;
} */

.modal-backdrop {
  background-color: rgb(128, 128, 128);
}

.FormBook{

 background-color: rgb(127,192,182);
  margin: 80px auto;
  
}
Form{
  width: 50%;
  margin: 0 auto;
  
}
.FormBookH3{
  text-align: center;
}

.alert{
  padding: 12px;
  color: lightcyan;
  text-align: center;
  text-transform: capitalize;
  width: 90%;
  border-radius: 2px;
  margin: 15px auto;

}

.alert-success{
  background-color: rgb(209, 196, 8);
  color: antiquewhite;
}

.alert-error{
  background-color: red;
  color: black;
}

.jumbotron{
  position: relative;
  padding:0 !important;
  margin-top:70px !important;
  background: #eee;
  margin-top: 23px;
  text-align:center;
  margin-bottom: 0 !important;
}
.container-fluid{
  padding:0 !important;
}
.col-xs-4{
  background:rgba(157,52,99,0.7);    
}



nav {
  display: flex;
  padding: 30px  auto 0 auto;
  color: bisque;
  background-color: rgb(9, 27, 21);
  text-transform: uppercase;
  text-decoration: none;
}
.nav-ul {
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding: 12px;
  list-style-type: none;
  text-decoration: none;

}

nav li {
  color: white;
  background-color: wheat;
  text-decoration: none;
}

.Login{
  display: flex;
  width: 50%;
  margin: 120px auto;
  height: 250px;
}